html,
body {
  background: url(background.jpg) no-repeat center center fixed; 
  background-size: cover;
  height: 100%;
  width: 100%;
  font-family: 'Handjet', cursive;
 font-family: 'Raleway', sans-serif;

}
#mc_embed_signup{
    background-color: transparent;
}